.profile {
  padding-top: 1em;
}

.profile header {
  margin-bottom: 3rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #666;
}

.profile-section__image {
  height: 15rem;
  width: 14rem;
  border-radius: .2rem;
  margin-top: 2rem;
}

.profile-section__date{
  font-size: 5rem;
  color: #ccc;
  letter-spacing: 1rem;
  text-align: center;
}

.profile-section__column {
  flex: 1;
}

.profile-section__cell {
  border-bottom: 1px solid #666;
}

.profile-aside{
  text-align: center;
}

.profile-aside__text {
  margin-bottom: 2rem;
  line-height: 3rem;
}

.profile-links {
  padding-left: 0;
  text-align: center;
  list-style: none;
  line-height: 4rem;
  margin-bottom: 3rem;
}

@media screen and (min-width:1280px) {
  .profile {
    font-size: .85rem;
  }

  .profile-section {
    flex-direction: row;
    font-size: .875rem;
  }

  .profile-section__image {
    margin-top: 0;
    height: 10rem;
    width: 9.3rem;
  }

  .profile-section--reverse\@l-up {
    flex-direction: row-reverse;
  }

  .profile-section__column:not(:last-child) {
    border-right: 1px solid #666;
  }

  .profile-section__cell {
    font-size: .8rem;
  }

  .profile-aside {
    font-size: .8rem;
    text-align: left;
  }

  .profile-aside__text {
    line-height: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .profile-links {
    line-height: 2rem;
  }
}
